body {
    background-color: rgb(249, 185, 102);
    display: flex;
    justify-content: center;
}
.consola {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    background-color: rgb(220, 220, 220);
    border: 2px solid rgb(184, 184, 184);
    border-radius: 10px 10px 60px 10px;
    padding:20px ;
}

.pantalla .img-gif{
    margin-top: 20px;
    width: 200px;
    height: 150px;
    background-color: #bdad58;
    box-shadow: inset 25px 25px 0px -22px rgba(0,0,0,0.25);
}

.img-gif {
    border: solid 2px #bdad58;
    border-radius: 5px;
}

.borde-pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 210px;
    background-color: #777777;
    border-radius: 8px 8px 20px 20px;

}

.marca p {
    display: inline;
    color: grey;
    border: solid 1px grey;
    border-radius: 20px;
    padding: 0px 7px;
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: 550;
    font-size: 14px;
}

.marca {
    display: flex;
    justify-content: center;
}

.gameboy-color{
    color: rgb(214, 213, 213);
    font-style: italic;
}

.gameboy-c1 {
    color: red;
    font-weight: bold;
}

.gameboy-c2 {
    color: blue;
    font-weight: bold;
}

.gameboy-c3 {
    color: green;
    font-weight: bold;
}

.gameboy-c4 {
    color: yellow;
    font-weight: bold;
}

.gameboy-c5 {
    color: rgb(123, 123, 254);
    font-weight: bold;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.pad {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; 
}

.boton-up {
    height: 20px;
    width: 20px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    border-radius: 7px 7px 0px 0px;
    border: solid 2px #2b2b2b;
}

.boton-down {
    height: 20px;
    width: 20px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 7px 7px;
    border: solid 2px #2b2b2b;
    }

.left-center-right {
    height: 20px;
    width: 65px;
    background-color: #3d3d3d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    border: solid 2px #2b2b2b;
}
.botones-ayb {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}

.boton-a, .boton-b {
    background-color: #930f0f;
    border: solid 3px #531616;
    color: #531616;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-b {
    margin-bottom: 40px;
}

.select, .start {
    background-color: #3d3d3d;
    width: 50px;
    height: 20px;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    margin-left: 10px;
}